* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.bg-1 {
  background-image: url(https://img.invinciblengo.org/iconscout/f:jpeg/w:1400/h:0/rt:fit/plain/https://invinciblengo.org/_nuxt/img/dabf1ab.jpg);
}

.bg-2 {
  background-image: url(https://img.invinciblengo.org/iconscout/f:jpeg/w:1400/h:0/rt:fit/plain/https://invinciblengo.org/_nuxt/img/13eaaff.jpg);
}

.bg-3 {
  background-image: url(https://img.invinciblengo.org/iconscout/f:jpeg/w:1400/h:0/rt:fit/plain/https://invinciblengo.org/_nuxt/img/809181d.jpg);
}

.bg-4 {
  background-image: url(https://img.invinciblengo.org/iconscout/f:jpeg/w:1400/h:0/rt:fit/plain/https://invinciblengo.org/_nuxt/img/961a8d9.jpg);
}

.bg-5 {
  background-image: url(https://img.invinciblengo.org/iconscout/f:jpeg/w:1400/h:0/rt:fit/plain/https://invinciblengo.org/_nuxt/img/3cffb54.jpg);
}

.carousel-caption {
  bottom: 220px;
  z-index: 2;
}

.carousel-item {
  height: 500px;
  min-width: 300px;
}

@media screen and (max-width: 767px) {
  .carousel-item {
    height: 650px;
  }
}

.bg-1,
.bg-2,
.bg-3,
.bg-4,
.bg-5 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#carouselExampleSlidesOnly {
  position: relative;
  top: 0;
  z-index: 1;
}

#navigation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 25;
  width: 100%;
  background-color: transparent;
}

.nav-item a i {
  color: #de5824;
}

/* add */
.navbar-toggler span {
  color: #fff;
}

.nav-link {
  font-size: 18px;
  margin-bottom: 7px;
  font-weight: 600;
}

#login {
  padding-bottom: 70px;
  border-bottom: 2px solid #717171;
}

.number {
  font-size: 18px;
}

.hero-section {
  position: relative;
  top: -330px;
  z-index: 3;
  margin: 0 0 0 13px;
}

.oraganization {
  margin-top: 100px;
}

.oraganization h5 {
  font-size: 15px;
}

.form-row {
  display: flex;
  flex-direction: wrap;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper .hero-section {
  color: #fff;
  z-index: 20;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 140px;
}

.form-row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.icon_1XW6M {
  position: relative;
}

.icon_1XW6M img {
  height: 40px;
  width: 45px;
}

#participate {
  position: absolute;
  top: 34px;
  left: 55px;
}

.media-body {
  position: relative;
  top: -50px;
  left: 60px;
}

.title_3KK_U {
  font-size: 18px;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: -8px;
}

small {
  font-size: 14px;
}

.explore {
  border-radius: 10px;
  font-size: 16px;
  padding: 5px 10px;
}

/* main */
.container_PeBi9 {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: -45px;
}

.event-image {
  display: inline-block;
  width: 200px;
  border-radius: 0.6rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.ratio iframe {
  border-radius: 10px 10px;
}

/* experience section start */

.experience {
  background: #f1f1f1;
}

.exp iframe {
  border-radius: 10px;
}

.exp {
  display: inline-block;
  width: 300px;
  border-radius: 10px 10px;
  overflow: hidden;
}

.person {
  font-weight: 400;
  opacity: 0.9;
  font-size: 16px;
  margin-left: 20px;
}

.star {
  margin-left: 70px;
  margin-top: -22px;
  padding-top: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #e3e3e3;
  color: #de5824;
  font-size: 13px;
}

.text {
  margin-left: 70px;
  margin-bottom: 20px;
  color: #717171;
  font-size: 14px;
}

.text p {
  color: #717171;
  font-weight: 500;
  opacity: 0.9;
}

.people img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* experience section end */

.stories a img {
  height: 170px;
  width: 270px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stories h6 {
  margin-left: 10px;
  opacity: 0.8;
  font-size: 15px;
}

/* read more */
#more,
#more1,
#more2 {
  display: none;
}

#myBtn,
#myBtn1,
#myBtn2 {
  outline: none;
  background: transparent;
  border: none;
  font-size: 15px;
  text-transform: lowercase;
}

/* footer */
.footer {
  background-color: black;
  color: #fff;
  padding: 1rem;
  font-size: 0.875rem;
  opacity: 0.9;
}

.list-unstyled li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.branches a {
  color: #de5824;
}

.branches a:hover {
  opacity: 0.7;
}

.s-text {
  font-size: 14px;
  font-weight: 500;
}

.office-no {
  text-decoration: none;
  color: #fff;
}

.Copyright a {
  text-decoration: none;
  color: #fff;
}

.font-icon a {
  border-radius: 50%;
  background-color: #fff;
  padding: 5px 10px;
}

.font-icon a i {
  color: black;
  font-size: 18px;
}

.bottom-end {
  font-size: 14px;
  font-weight: 450;
}

/* typing animation */
.hero-section h1 {
  font-size: 3em;
  color: white;
  text-transform: capitalize;
  font-weight: 600;
}

.hero-section span {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
